.section-about {
  padding-top: 5rem !important;
  margin-top: -0vh;

  &--img {
    width: 100%;
    // transform: scale(1.1) translateX(40px);
  }
}

.info-box {
  padding: 2.5rem 1rem;
  background-color: $color-golden;

  @include respond(phone) {
    padding: 3rem;
  }
}

.section-courses {
  // margin-top: -0vh;
  padding: 0 2rem;
}

.section-prayer-timings {
  background-color: $color-gray-dark;
  padding: 5rem 2rem;
  margin: 15rem 0;
  margin-top: 3rem;
}

.section-team {
  padding: 0rem 2rem;
}

.section-blog-post {
  padding: 0rem 2rem;
}

.section-testimonial {
  overflow: hidden;
}

.section-contact {
  padding: 0rem 8rem;
}

.section {
  padding-top: 1.5rem;
  padding-bottom: 10rem;
}

.loader-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader {
  font-size: 4rem;
  padding: 2.5rem;
  border-radius: 1rem;
  background-color: $color-golden;
  color: $color-white;
}
